.wrapper{
  padding: 2rem 1.25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hiddenMenu{
  transform: translateX(-10px) translateY(-10px);
  opacity: 0;
  transition: .2s;
}

.wrapperLink{
  display: flex;
  align-items: center;
  gap: .5rem;
  cursor: pointer;
}

a{
  color: #e1e1e6;
  text-decoration: none;
}

.icon{
  height: 1.5rem;
}

.iconMenu{
  z-index: 20;
  position: fixed;
  top: 1.25rem;
  right: 1.25rem;
}

.buttonSignout{
  all: unset;
  color: #e1e1e6;
}

@media (min-width: 40rem) {

  .iconMenu{
    display: none;
  }

  header{
    border-radius: 0;
  }

  .wrapper{
    padding: 1rem 1.25rem;
    border-radius: 0;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
    max-width: 1200px;
    margin: auto;
  }

}