.signUp{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto;
  max-width: 450px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.wrapperInputs{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.linkToSignIn{
  font-size: 1rem;
  color: #7c7c8a;
  margin: auto;
}