@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

#root{
  min-height: 100vh;
  height: 100%;
}

.app{
  min-height: 100vh;
  height: 100%;
  background-color: #121214;
  padding: 3rem 1.25rem;
  display: flex;
}