body {
	padding: 1rem;
}

.mobileMenu {
	cursor: pointer;
	align-items: baseline;
	padding: 2px;
	z-index: 100;
}

.line1,
.line2,
.line3 {
	transition: 0.3s;
}

.mobileMenu div {
	width: 25px;
	height: 3px;
	background-color: var(--Colorbutton);
	margin: 5px;
}

nav .navList {
	position: absolute;
	left: 0;
	margin-top: 0.5rem;
	background-color: var(--ColorBoxshadow);
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 100%;
	max-width: 400px;
	border-radius: 10px;
	transition: .4s;
	z-index: 999;
}

.navListHidden {
	transform: translateY(-150%);
	visibility: hidden;
	transition: .4s;
}

a {
	color: var(--Colorbutton);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem;
	font-size: 28px;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: #00ff88;
	background-color: rgba(0, 0, 0, 0.363);
}

#Main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#reserve {
	margin: 79px;
	display: flex;
	justify-content: center;
	align-items: center;

	text-decoration: none;
}

#items {
	width: 491px;
	height: 58px;
	top: 169px;
	position: absolute;
}

#items input {
	display: none;
}

#items label {
	display: block;
	padding: 10px;
	border: 1px solid #2f2841;
	box-shadow: 0px 0px 7px #17171adc;
	color: var(--ColorText);
	border-radius: 10px;
	font-size: 20px;
	cursor: pointer;
}

#items label span {
	padding-left: 240px;
	transform: rotateX(45deg);
}

#items ul {
	overflow: hidden;
	max-height: 0;
	transition: all .4s;
	background-color: var(--BackgroundColorInput);
}

#items ul li a {
	width: 100%;
	background-color: var(--BackgroundColorInput);
	display: block;
	text-decoration: none;
	color: var(--ColorText);
	padding: 10px;
}

#items ul li a:hover {
	background-color: var(--colorbackgroundcolor);
	color: var(--ColorText);
}

#items input:checked~ul {
	height: 130px;
	max-height: 200px;
	transition: all .4s linear;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	margin-top: 10px;
	list-style: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
	border-radius: 50%;
	background-color: #00ff88;
}
#inputReserve{
	width: 490px;
	height: 171px;
	margin-top: 54px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#itemsCalendar {
	width: 107px;
	height: 107px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 0 7px var(--ColorBoxshadow);
}

#itemsCalendar:hover {
	background: var(--BackgroundColorInput);
	color: #ffffff;
}

#txtDayWeek {
	font-weight: 600;
	font-size: 18px;
	color: var(--ColorText);
}

#txtDayNumber {
	font-weight: 700;
	font-size: 24px;
	color: var(--ColorText);
}

#formHour {
	color: var(--ColorText);
	margin: 32px;
	text-align: center;
}

#hours {
	margin-right: 300px;
}

/*Css reservas
#formHour label {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 50%;
	cursor: pointer;
	height: 28px;
	position: absolute;
	width: 28px;
}

#formHour label:after {
	border: 2px solid #fff;
	border-top: none;
	border-right: none;
	content: "";
	height: 6px;
	left: 7px;
	opacity: 0;
	position: absolute;
	top: 8px;
	transform: rotate(-45deg);
	width: 12px;
}

#formHour input[type="checkbox"] {
	visibility: hidden;
}

#formHour input[type="checkbox"]:checked+label {
	background-color: #66bb6a;
	border-color: #66bb6a;
}

#formHour input[type="checkbox"]:checked+label:after {
	opacity: 1;
}

*/
@media(max-width:600px) {
	#itemsCalendar {
		width: 96px;
		height: 96px;
	}

	#items {
		width: 347px;
		height: 58px;
	}
	#hours {
		margin-right: 150px;
	}
	#inputReserve{
		width: 320px;
		height: 130px;
	}
	.mobileMenu {
		display: block;
	}

	.navList.active {
		transform: translatey(0);
	}
}