@import url("https://fonts.googleapis.com/css2?family=Mada&family=Roboto:ital,wght@0,100;0,400;1,100&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
/*   font-family: "Noto Sans", sans-serif; */
  padding: 0;
  /* background-color: var(--backgroundMain); */
  background-color: rgba(0, 0, 0, 0.8);
}

:root {
  --ColorText: #00ff88;
  --Colorbutton: #00ff88;
  --colorbackgroundcolor: #1e0e2cd0;
  --ColorBoxshadow: #2f2841;
  --BackgroundColorInput: #514869;
  --buttoncontent: #000;
  --backgroundMain: #40324c;
  --boxShadow: 0px 0px 7px #2f2841;
  --colorMensageError: rgb(255, 46, 46);
}

h1,
h2,
h3 {
  color: white;
  font-weight: 700;
}

button {
  /* color: var(--buttoncontent); */
  color: white;
  border-radius: 10px;
  box-shadow: var(--boxShadow);
  /* background-color: var(--Colorbutton); */
  background-color: #193a5a;
  padding: 1rem;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  transition: 400ms;
  cursor: pointer;
}

button:hover {
/*   color: #00ff88;
  background-color: rgba(0, 0, 0, 0.363); */
  background-color: #25476A;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
  border: none;
  border-radius: 10px;
  padding: 15px;
  background-color: var(--BackgroundColorInput);
  background-color: #514869;
  color: #ffffff;
  font-size: 12pt;
  box-shadow: var(--boxShadow);
  outline: none;
  box-sizing: border-box;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="number"]::placeholder,
input[type="password"]::placeholder {
  color: rgb(142, 152, 161);
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
}

input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;
}

.loading{
  width: 30px;
  height: 30px;
  border: 8px solid var(--ColorText);
  border-right-color: transparent;
  border-radius: 100%;
  animation: loading 1s infinite;
}

@keyframes loading{
  to{
    transform: rotate(360deg);
  }
}

.mensageError{
  color: var(--colorMensageError);
  margin-left: .5rem;
  margin-top: .25rem;
}

p.mensageError{
  font-size: .8rem;
}

h2.mensageError{
  text-align: center;
  font-size: 1.5rem;
}

.mensageSucess{
  color: var(--ColorText);
} 