@import url("https://fonts.googleapis.com/css2?family=Mada&family=Roboto:ital,wght@0,100;0,400;1,100&display=swap");

body{
  margin: 0px;
  padding: 0px;
  font-family: 'Noto Sans', sans-serif;
  background: var(--backgroundMain);

}
#header {
  box-sizing: border-box;
  position: absolute;
  box-shadow: 0px 10px 40px #00000056;
  background-color: var(--ColorBoxshadow);
}

li:hover{
  width: 100%;
  color: #00ff88;
  background-color: rgba(0, 0, 0, 0.363);
}

#whiteBar {
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction: column;
}
#menu {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
}
#menu {
  top: 166px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  gap: 0.5rem;
}
#menu a{
    display: block;
    padding: 0.5rem;
    color: var(--ColorText);  
    font-size: 24px;
    line-height: 33px;
    text-decoration: none; 
    list-style: none;
}

#reserve{
    width: 264px;
    height: 58px;
    margin: 79px;
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}
#reserve:hover{
  background-color: var(--colorbackgroundcolor);
  color: var(--ColorText);
}
#btn-mobile {
  display: none;
}
#piechart {
  width: 700px;
  height: 500px;
  color: #FFFFFF;
}
#txtHours, #txtDate{
  color: var(--ColorText);
}
#return{
  position: absolute;
  width: 65px;
  left: 39px;
  top: 14px;
}

@media (max-width: 600px) {
  #header {
    display: flex !important;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 92px;
  }
  #menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #return{
    width: 40px;
    left: 17px;
  }
  #nav {
    width: 72px;
    height: 72px;
    border-radius: 10px;
    right: 16px;
    top: 16px;
    left: auto;
    justify-content: center;
    padding: 1rem;
  }
  #whiteBar {
    right: auto;
    top: 135px;
    position: absolute;
  }
  #nav.active #menu {
    visibility: visible;
    overflow-y: auto;
    width: 295px;
    height: 327px;
    border-radius: 10px;
    background: var(--colorbackgroundcolor);
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  #btn-mobile {
    display: flex;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
    color: var(--colorbackgroundcolor);
  }
  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
  #piechart {
    width: 340px;
    height: auto;
  }
}
