@import url("https://fonts.googleapis.com/css2?family=Mada&family=Roboto:ital,wght@0,100;0,400;1,100&display=swap");

body{
  padding: 1rem;
}

.mobileMenu{
  cursor: pointer;
  align-items: baseline;
  padding: 2px;
  z-index: 100;
}

.line1, .line2, .line3{
  transition: 0.3s;
}

.mobileMenu div{
  width: 25px;
  height: 3px;
  background-color: var(--Colorbutton);
  margin: 5px;
}

nav .navList{
  position: absolute;
  left: 0;
  margin-top: 0.5rem;
  background-color: var(--ColorBoxshadow);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  transition: .4s;
  z-index: 999;
}

.navListHidden{
  transform: translateY(-150%);
  visibility: hidden;
  transition: .4s;
}
a{
  color: var(--Colorbutton);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
}
a:hover{
  color: #00ff88;
  background-color: rgba(0, 0, 0, 0.363);
}
#Main {
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction: column;
}

#piechart {
  width: 700px;
  height: 500px;
  color: #FFFFFF;
}
#txtHours, #txtDate{
  color: var(--ColorText);
}

/* quando se chega a esse tamanho o gráfico quebra */

/* @media (max-width: 600px) {
  .mobileMenu{
    display: block;
  }
  .navList.active{
    transform: translatey(0);
  }

  #Main {
    top: 135px;
    position: absolute;
  }
  #piechart {
    width: 340px;
    height: auto;
  }
} */

.mobileMenu.active .line1{
  transform: rotate(-45deg) translate(-4.5px, 8px);
}

.mobileMenu.active .line2{
  opacity: 0;
}

.mobileMenu.active .line3{
  transform: rotate(45deg) translate(-3px, -7px);
}

