@import url('https://fonts.googleapis.com/css2?family=Mada&family=Roboto:ital,wght@0,100;0,400;1,100&display=swap');
body{
	margin: 0;
	font-family: 'Noto Sans', sans-serif;
}
body *{
	box-sizing: border-box;
}
.main-login{
	width: 100vw;
	height: 100vh;
	background-color: var(--backgroundMain);
	display: flex;
	justify-content: center;
	align-items: center;
}
.left-login{
	width: 50vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.left-login > h1{ 
	font-size: 3vw;

}
.left-login-img{
	width: 30vw;

}
.right-login{
	width: 50vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.card-login{
	width: 60%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 30px 35px;
	background-color: var(--ColorBoxshadow);
	border-radius: 20px;
	box-shadow: 0px 10px 40px #00000056;
}
.textfield{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin: 10px 0px;
}
.textfield > input{
	width: 100%;
	
}
.textfield > label{
	color:rgb(255, 255, 255);
	margin-bottom: 10px;
}
.textfield > input::placeholder{

}
.btn-login{
	width: 100%;
	margin-top: 25px;


}
@media only screen and (max-width:950px){
	.card-login{
		width: 85%;
	}
}
@media only screen and (max-width: 600px){
	.main-login{
		flex-direction: column;
	}
	.left-login > h1 {
		display: none;
	}
	.left-login{
		width: 100%;
		height: outo;

	}
	.right-login{
		width: 100%;
		height: outo;
	}
	.left-login-img{
		width: 39vh;

	}
	.card-login{
		width: 90%;
	}
	
}
#msgError{
	text-align: center;
	color:var(--ColorText);
	background-color: var(BackgroundColorInput);
	padding: 10px;
	border-radius: 4px;
	display: none;
}
.vr-senha{
	position: relative;


}




.textfield > div{
	width: 100%;
	position: relative;
}

.textfield > div img{
	position: absolute;
	right: .8rem;
	top: .8rem; 
}

.divFieldPassword{
	width: 100%;
}

#Senha{
	width: 100%;
}


