*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: var(--colorbackgroundcolor);
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem; 
}

.return{
    position: absolute;
    top: 0;
    left: 0;
}

.return img{
    width: 7rem;
}

.imgPerfil img{
    width: 10rem;
    border-radius: 50%;
}

.infos{
    display: flex; 
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

.infos > div{
    max-width: 400px;
}

.infoLeft, .infoRight{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

button{
    width: 100%;
}