*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*body{
   background: var(--backgroundMain);
}*/

.container{
    background-color: var(--backgroundMain);
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 1rem;
    gap: 5rem; 
}

.mobileMenu{
    cursor: pointer;
    align-items: baseline;
    padding: 2px;
    z-index: 100;
}

.line1, .line2, .line3{
    transition: 0.3s;
}

.mobileMenu div{
    width: 25px;
    height: 3px;
    background-color: var(--Colorbutton);
    margin: 5px;
}

nav .navList{
    position: absolute;
    left: 0;
    margin-top: 0.5rem;
    background-color: var(--ColorBoxshadow);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    transition: .4s;
}

.navListHidden{
    transform: translateY(-150%);
    visibility: hidden;
    transition: .4s;
}

a{
    color: var(--Colorbutton);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}

.return{
    position: absolute;
    top: 0;
    left: 0;
}

.return img{
    width: 7rem;
}

.imgPerfil{
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.infos1 img{
    width: 100%;
    border-radius: 50%;
    padding: 10px;
    
}
.imgPerfil img .infos1{
    display: flex;
    flex-direction: column;
}
.infos1 input{
    width: 100%;
}
.infos1 button{
    width: 100%;
}
.imgPerfil .infos2{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
}

.imgPerfil img .profileInputText{
    display: flex;
    flex-direction: column;
}

.profileInputText{
    width: 5rem;
}

.sendLink{
    margin: 10px 10px 10px 0px;
}

.infos1{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    width: 10rem;
}

.infos{
    display: grid; 
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

.infos > div{
    max-width: 400px;
}

.infoLeft{
    align-items: center;
}

.infoLeft, .infoRight{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.infoRight{
    display: -webkit-box;
    gap: 25px;

}

.infoRight1{
    padding-right: 4rem;
}

.delete{
    padding: 2rem;
    text-align: center;
    cursor: pointer;
    font-size: 28px;
}

.afterDelete{
    display: none;
    background-color: var(--ColorBoxshadow);
    border-radius: 10px;
    width: 70%;
    align-items: center;
    margin: 0 auto;
}

p{
    font-size: 28px;
}

h3{
    padding: 10px;
    padding-bottom: 2rem; 
}

.confirmDelete{
    justify-content: space-between;
    padding: 10px;
    display: flex;  

}

.y .n{
    width: 100%;
    padding: 40px;

}

.outroContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    background: radial-gradient(var(--colorbackgroundcolor));
}

.infinity{
    position: relative;
    width: 800px;
    height: 160px;
    background: #333;
    transform-origin: bottom;
    transform: perspective(500px) rotateX(30deg);
}

.infinity::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(90deg, #fff 0%, #fff 70%, #515151 70%, #515151 100%);
    transform: translateY(-50%) ;
    background-size: 120px;
    animation: animateRoad 1s linear infinite;
}

@keyframes animateRoad {
    0%{
        background-position: 0;
    }
    100%{
        background-position: -120px;
    }
}

.infinity::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 30px;
    background: #333;
    bottom: -30px;
    transform-origin: top;
    transform: perspective(500px) rotateX(-30deg);
}

.shadow{
    position: absolute;
    left: 50%;
    width: 95%;
    transform: translateX(-51%);
    height: 64px;
    background: linear-gradient(rgba(0,0,0,.25), transparent);
    bottom: -94px;
}

.box{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, transparent, #000);
    animation: animateBox 1s linear infinite;
}

@keyframes animateBox{
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-100px);
    }
}

.squart{
    position: relative;
    width: 100px;
    height: 100px;
    background-color: var(--Colorbutton);
    transform-origin: bottom right;
    animation: animate 1s linear infinite; 
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(90deg);
    }
}

@media (max-width: 600px) {
   
    .container{
        gap: 0;
    }
    
    .mobileMenu{
        display: block;
    }
    
    .imgPerfil{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 3rem;
    }

    .infos1{
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    .infos2{
        padding-top: 1rem;
    }
    
    .infos{
        display: block;
        gap: 0;
        max-width: 400px;
        align-items: baseline;
        padding-top: 1rem;
    }
   
    .infoRight{
        display: block;
        flex-direction: column;
        gap: 1px;
    }
    
    .infoRight1{
        padding-right: 0;
    }
    
    a{
        color: var(--Colorbutton);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        margin: 1rem;
        font-size: 24px;
        font-weight: bold;
    }

    .navList.active{
        transform: translatey(0);
    }
}
.mobileMenu.active .line1{
    transform: rotate(-45deg) translate(-4.5px, 8px);
}

.mobileMenu.active .line2{
    opacity: 0;
}

.mobileMenu.active .line3{
    transform: rotate(45deg) translate(-3px, -7px);
}
